# ./3D-ICE-Emulator example_transient.stk

/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* "package" component */
    package: {

        /* Define the library associated with the "package" component. */
        library: {
            model = "3d-ice";
            thermal_analysis_type = "transient";
            ambient_temperature = 300.0;
            temperature = 300.0;
            chip_width = 10e-3; // 10mm
            chip_height = 10e-3; // 10mm
            grid_rows = 100;
            grid_columns = 100;
            grid_map_mode = "average";
            generate_thermal_grid = true;

            material: {
                silicon: {
                    thermal_conductivity = 1.30e-4;
                    volumetric_heat_capacity = 1.628e-12;
                };
                beol: {
                    thermal_conductivity = 2.25e-6;
                    volumetric_heat_capacity = 2.175e-12;
                };
            };

            conventional_heat_sink: {
                heat_transfer_coefficient = 1.0e-7;
            };

            microchannel: {
                type = "2rm";
                height = 100e-6;
                channel_length = 50e-6;
                wall_length = 50e-6;
                wall_material = "silicon";
                coolant_flow_rate = 42;
                coolant_heat_transfer_coefficient_top = 5.7132e-8;
                coolant_heat_transfer_coefficient_bottom = 4.7132e-8;
                coolant_volumetric_heat_capacity = 4.172e-12;
                coolant_incoming_temperature = 300.0;
            };

            die: {
                top_ic: {
                    layer: {
                        // IMPORTANT: Layers must be listed sequentially from the top to bottom.
                        source_layer: {
                            height = 2e-6;
                            material = "silicon";
                            is_source_layer = true;
                        };
                        bottom_layer: {
                            height = 50e-6;
                            material = "silicon";
                            is_source_layer = false;
                        };    
                    };
                };
                bottom_ic: {
                    layer: {
                        top_layer: {
                            height = 10e-6;
                            material = "beol";
                            is_source_layer = false;
                        };
                        source_layer: {
                            height = 2e-6;
                            material = "silicon";
                            is_source_layer = true;
                        };
                        bottom_layer: {
                            height = 50e-6;
                            material = "silicon";
                            is_source_layer = false;
                        };
                    };
                };    
            };

            stack: {
                // IMPORTANT: Stacks must be listed sequentially from the top to bottom.
                memory_die: {
                    type = "die";
                    die = "top_ic";
                };
                top_channel: {
                    type = "channel";
                };
                core_die: {
                    type = "die";
                    die = "bottom_ic";
                };
                bottom_channel: {
                    type = "channel";
                };
                bottom_most: {
                    type = "layer";
                    height = 10e-6;
                    material = "beol";
                    is_source_layer = false;
                };    
            };

            floorplan = ["package.memory_die.mem_background0",
                         "package.memory_die.mem_background1",
                         "package.memory_die.mem_hotspot0",
                         "package.memory_die.mem_hotspot1",
                         "package.core_die.core0",
                         "package.core_die.core1",
                         "package.core_die.core2",
                         "package.core_die.core3",
                         "package.core_die.core4",
                         "package.core_die.core5",
                         "package.core_die.core6",
                         "package.core_die.core7",
                         "package.core_die.cache0",
                         "package.core_die.cache1",
                         "package.core_die.clk",
                         "package.core_die.fpu",
                         "package.core_die.crossbar"];
        }; /* End of "package" library */

        /* "package" component includes the following components 
           as its sub-components (children). */
        component: {
        
            /* "package.memory_die" component */
            memory_die: {

                /* "package.memory_die" includes the following components
                   as its sub-components (children). */
                component: {

                    /* "package.memory_die.mem_background0" component */
                    mem_background0: {
                        library: {
                            model = "none"; /* This component is not associated with any libraries. */
                            /* Dimensional information of this component is required since this is
                               designated as a floorplan by "package". */
                            dimension: {
                                left = 0.0e-3; /* Left orientation */
                                bottom = 0.0e-3; /* Bottom orientation */
                                width = 5.0e-3; /* Width (x-dimension) of floorplan */
                                height = 5.0e-3; /* Height (y-dimension) of floorplan */
                                die_name = "memory_die"; /* Layer name */
                                die_index = 1; /* Layer index */
                            };
                        };
                    };

                    /* "package.memory_die.mem_background1" component */
                    mem_background1: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 5.0e-3;
                                bottom = 5.0e-3;
                                width = 5.0e-3;
                                height = 5.0e-3;
                                die_name = "memory_die";
                                die_index = 1;
                            };
                        };
                    };

                    /* "package.memory_die.mem_hotspot0" component */
                    mem_hotspot0: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 5.0e-3;
                                bottom = 0.0e-3;
                                width = 5.0e-3;
                                height = 5.0e-3;
                                die_name = "memory_die";
                                die_index = 1;
                            };
                        };
                    };

                    /* "package.memory_die.mem_hotspot1" component */
                    mem_hotspot1: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 5.0e-3;
                                width = 5.0e-3;
                                height = 5.0e-3;
                                die_name = "memory_die";
                                die_index = 1;
                            };
                        };
                    };
                }; /* End of "package.memory_die" sub-components */
            }; /* End of "package.memory_die" */

            /* "package.core_die" component */
            core_die: {

                /* "package.core_die" includes the following components
                   as its sub-components (children). */
                component: {

                    core0: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 0.0e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core1: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 2.5e-3;
                                bottom = 0.0e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core2: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 5.0e-3;
                                bottom = 0.0e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core3: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 7.5e-3;
                                bottom = 0.0e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core4: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 6.5e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core5: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 2.5e-3;
                                bottom = 6.5e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core6: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 5.0e-3;
                                bottom = 6.5e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    core7: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 7.5e-3;
                                bottom = 6.5e-3;
                                width = 2.5e-3;
                                height = 3.5e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    cache0: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 3.5e-3;
                                width = 1.25e-3;
                                height = 3.0e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    cache1: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 8.75e-3;
                                bottom = 3.5e-3;
                                width = 1.25e-3;
                                height = 3.0e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    clk: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 1.25e-3;
                                bottom = 3.5e-3;
                                width = 1.25e-3;
                                height = 3.0e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    fpu: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 7.5e-3;
                                bottom = 3.5e-3;
                                width = 1.25e-3;
                                height = 3.0e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };

                    crossbar: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 2.5e-3;
                                bottom = 3.5e-3;
                                width = 5.0e-3;
                                height = 3.0e-3;
                                die_name = "core_die";
                                die_index = 0;
                            };
                        };
                    };
                }; /* End of "package.core_die" sub-components */
            }; /* End of "package.core_die" */
        }; /* End of "package" sub-components */
    }; /* End of "package" */
}; /* End of pseudo component hierarchy */

