# ./hotspot -f ev6.flp -p gcc.ptrace -model_type grid -grid_layer_file layer.lcf

/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* "package" component */
	package: {

        /* Define the library associated with the "package" component. */ 
		library: {
			model = "hotspot";
			thermal_analysis = "steady_state";
			model_type = "grid";
			grid_map_mode = "center";
			
			thermal_threshold = 354.95;
			ambient_temperature = 318.15;
			temperature = 333.15;
			
			chip_thickness = 0.15e-3;
			chip_thermal_conductivity = 100.0;
			chip_heat = 1.75e6;
			
			heatsink_convection_capacitance = 140.4;
			heatsink_convection_resistance = 0.1;
			heatsink_side = 60e-3;
			heatsink_thickness = 6.9e-3;
			heatsink_thermal_conductivity = 400.0;
			heatsink_heat = 3.55e6;
			
			spreader_side = 30e-3;
			spreader_thickness = 1e-3;
			spreader_thermal_conductivity = 400.0;
			spreader_heat = 3.55e6;
			
			interface_thickness = 20e-6;
			interface_thermal_conductivity = 4.0;
			interface_heat = 4.0e6;
			
			secondary_model = false;
			secondary_convection_resistance = 50.0;
			secondary_convection_capacitance = 40.0;
			metal_layers = 8;
			metal_layer_thickness = 100e-6;
			
			c4_thickness = 0.0001;
			c4_side = 20e-6;
			c4_pads = 400;
			
			substrate_side = 0.021;
			substrate_thickness = 1e-3;
			
			solder_side = 0.021;
			solder_thickness = 0.00094;
			
			pcb_side = 0.1;
			pcb_thickness = 0.002;
			
			dtm_used = false;
			leakage_used = false;
			package_model_used = false;

			grid_rows = 64;
			grid_cols = 64;
			
			layer: {
				tim: {
					index = 1;
					is_source_layer = false;
                    use_floorplan_layer = "silicon";
					lateral_heat_flow = true;
					heat = 4e6;
					resistance = 0.25;
					thickness = 20e-6;
				};
				
				silicon: {
					index = 0;
					is_source_layer = true;
					lateral_heat_flow = true;
					heat = 1.75e6;
					resistance = 0.01;
					thickness = 0.15e-3;
				};
			};			
			
			floorplan = ["package.L2_left",
						 "package.L2",
						 "package.L2_right",
						 "package.Icache",
						 "package.Dcache",
						 "package.Bpred_0",
						 "package.Bpred_1",
						 "package.Bpred_2",
						 "package.DTB_0",
						 "package.DTB_1",
						 "package.DTB_2",
						 "package.FPAdd_0",
						 "package.FPAdd_1",
						 "package.FPReg_0",
						 "package.FPReg_1",
						 "package.FPReg_2",
						 "package.FPReg_3",
						 "package.FPMul_0",
						 "package.FPMul_1",
						 "package.FPMap_0",
						 "package.FPMap_1",
						 "package.IntMap",
						 "package.IntQ",
						 "package.IntReg_0",
						 "package.IntReg_1",
						 "package.IntExec",
						 "package.FPQ",
						 "package.LdStQ",
						 "package.ITB_0",
						 "package.ITB_1"];
		}; /* End of "package" library */

        /* "package" component includes the following components as 
           its sub-components (children). */
		component: {
		
            /* "package.L2_left" component */
			L2_left: {
				library: {
					model = "none"; /* This component is not associated with any libraries. */
                    /* Dimensional information of this component is required since this is
                       designated as a floorplan by "package". */
					dimension: {
						left = 0.0e-3; /* Left orientation */
                        bottom = 9.8e-3; /* Bottom orientation */
						width = 4.9e-3; /* Width (x-dimension) of floorplan */
						height = 6.2e-3; /* Height (y-dimension) of floorplan */
						die_index = 0; /* Layer index */
					};
				};
			};
			
			L2: {
				library: {
					model = "none";
					dimension: {
						left = 0.0e-3;
                        bottom = 0.0e-3;
						width = 16.0e-3;
						height = 9.8e-3;
						die_index = 0;
					};
				};
			};
			
			L2_right: {
				library: {
					model = "none";
					dimension: {
						left = 11.1e-3;
                        bottom = 9.8e-3;
						width = 4.9e-3;
						height = 6.2e-3;
						die_index = 0;
					};
				};
			};
			
			Icache: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 9.8e-3;
						width = 3.1e-3;
						height = 2.6e-3;
						die_index = 0;
					};
				};
			};
			
			Dcache: {
				library: {
					model = "none";
					dimension: {
						left = 8.0e-3;
                        bottom = 9.8e-3;
						width = 3.1e-3;
						height = 2.6e-3;
						die_index = 0;
					};
				};
			};
			
			Bpred_0: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			Bpred_1: {
				library: {
					model = "none";
					dimension: {
						left = 5.933e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			Bpred_2: {
				library: {
					model = "none";
					dimension: {
						left = 6.967e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			DTB_0: {
				library: {
					model = "none";
					dimension: {
						left = 8.0e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			DTB_1: {
				library: {
					model = "none";
					dimension: {
						left = 9.033e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			DTB_2: {
				library: {
					model = "none";
					dimension: {
						left = 10.067e-3;
                        bottom = 12.4e-3;
						width = 1.033e-3;
						height = 0.7e-3;
						die_index = 0;
					};
				};
			};
			
			FPAdd_0: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 13.1e-3;
						width = 1.1e-3;
						height = 0.9e-3;
						die_index = 0;
					};
				};
			};
			
			FPAdd_1: {
				library: {
					model = "none";
					dimension: {
						left = 6.0e-3;
                        bottom = 13.1e-3;
						width = 1.1e-3;
						height = 0.9e-3;
						die_index = 0;
					};
				};
			};
			
			FPReg_0: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 14.0e-3;
						width = 0.55e-3;
						height = 0.38e-3;
						die_index = 0;
					};
				};
			};
			
			FPReg_1: {
				library: {
					model = "none";
					dimension: {
						left = 5.4e-3;
                        bottom = 14.0e-3;
						width = 0.55e-3;
						height = 0.38e-3;
						die_index = 0;
					};
				};
			};
			
			FPReg_2: {
				library: {
					model = "none";
					dimension: {
						left = 6.0e-3;
                        bottom = 14.0e-3;
						width = 0.55e-3;
						height = 0.38e-3;
						die_index = 0;
					};
				};
			};
			
			FPReg_3: {
				library: {
					model = "none";
					dimension: {
						left = 6.55e-3;
                        bottom = 14.0e-3;
						width = 0.55e-3;
						height = 0.38e-3;
						die_index = 0;
					};
				};
			};
			
			FPMul_0: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 14.38e-3;
						width = 1.1e-3;
						height = 0.95e-3;
						die_index = 0;
					};
				};
			};
			
			FPMul_1: {
				library: {
					model = "none";
					dimension: {
						left = 6.0e-3;
                        bottom = 14.38e-3;
						width = 1.1e-3;
						height = 0.95e-3;
						die_index = 0;
					};
				};
			};
			
			FPMap_0: {
				library: {
					model = "none";
					dimension: {
						left = 4.9e-3;
                        bottom = 15.33e-3;
						width = 1.1e-3;
						height = 0.67e-3;
						die_index = 0;
					};
				};
			};
			
			FPMap_1: {
				library: {
					model = "none";
					dimension: {
						left = 6.0e-3;
                        bottom = 15.33e-3;
						width = 1.1e-3;
						height = 0.67e-3;
						die_index = 0;
					};
				};
			};
			
			IntMap: {
				library: {
					model = "none";
					dimension: {
						left = 7.1e-3;
                        bottom = 14.65e-3;
						width = 0.9e-3;
						height = 1.35e-3;
						die_index = 0;
					};
				};
			};
			
			IntQ: {
				library: {
					model = "none";
					dimension: {
						left = 8.0e-3;
                        bottom = 14.65e-3;
						width = 1.3e-3;
						height = 1.35e-3;
						die_index = 0;
					};
				};
			};
			
			IntReg_0: {
				library: {
					model = "none";
					dimension: {
						left = 9.3e-3;
                        bottom = 15.33e-3;
						width = 0.9e-3;
						height = 0.67e-3;
						die_index = 0;
					};
				};
			};
			
			IntReg_1: {
				library: {
					model = "none";
					dimension: {
						left = 10.2e-3;
                        bottom = 15.33e-3;
						width = 0.9e-3;
						height = 0.67e-3;
						die_index = 0;
					};
				};
			};
			
			IntExec: {
				library: {
					model = "none";
					dimension: {
						left = 9.3e-3;
                        bottom = 13.1e-3;
						width = 1.8e-3;
						height = 2.23e-3;
						die_index = 0;
					};
				};
			};
			
			FPQ: {
				library: {
					model = "none";
					dimension: {
						left = 7.1e-3;
                        bottom = 13.1e-3;
						width = 0.9e-3;
						height = 1.55e-3;
						die_index = 0;
					};
				};
			};
			
			LdStQ: {
				library: {
					model = "none";
					dimension: {
						left = 8.0e-3;
                        bottom = 13.7e-3;
						width = 1.3e-3;
						height = 0.95e-3;
						die_index = 0;
					};
				};
			};
			
			ITB_0: {
				library: {
					model = "none";
					dimension: {
						left = 8.0e-3;
                        bottom = 13.1e-3;
						width = 0.65e-3;
						height = 0.6e-3;
						die_index = 0;
					};
				};
			};
			
			ITB_1: {
				library: {
					model = "none";
					dimension: {
						left = 8.65e-3;
                        bottom = 13.1e-3;
						width = 0.65e-3;
						height = 0.6e-3;
						die_index = 0;
					};
				};
			};
		}; /* End of "package" sub-components */
	}; /* End of "package" */
}; /* End of pseudo component hierarchy */
