/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* "chip" component */
    chip: {

        /* Define the library associated with the "chip" component. */ 
        library: {
            model = "intsim";
            energy_model = "default";
            feature_size = 22e-9;       // 22nm
            temperature = 358;          // 358K
            clock_frequency = 2e9;      // 2GHz
            voltage = 0.8;              // 0.8V
            threshold_voltage = 0.14;   // 0.14V
            area = 35e-6;               // 35mm^2
            num_gates = 58e6;           // 58M transistors
            critical_path_depth = 10;
            rents_constant_k = 4;
            rents_constant_p = 0.6;
            activity_factor = 0.1;
            tdp_activity_factor = 0.2;
            Vdd_spec = 0.8;
            Vt_spec = 0.14;
            oxide_thickness = 1.1e-9;
            alpha_power_law = 1.3;
            pn_ratio = 0.5;
            subvtslope_spec = 100e-3;
            dielectric_permitivity = 2.0;
            copper_resistivity = 1.95e-8;
            wiring_aspect_ratio = 2.0;
            reflectivity_coefficient = 0.5;
            specularity = 0.5;
            num_power_pads = 600;
            power_pad_distance = 300e-6;
            power_pad_length = 50e-6;
            ir_drop_limit = 0.02;
            router_efficiency = 0.5;
            repeater_efficiency = 0.5;
            average_fanouts = 3;
            clock_margin = 0.2;
            HTree_max_span = 3e-3;
            latches_per_buffer = 20;
            clock_factor = 1.0;
            clock_gating_factor = 0.4;
            max_tier = 40;
        };
    }; /* End of "chip" */
}; /* End of pseudo component hierarchy */

