/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* package" component */
    package: {

        /* Define the common library variables in the "package" shared with its sub-components. */
        library: {
            model = "none"; /* This component is not associated with any libraries. */
            opt_for_clk = false;
            embedded = false;
            feature_size = 65e-9; // 65nm technolgy node
            temperature = 380; // 380K temperature
        };

        /* "package" component includes the following components
           as its sub-components (children). */
        component: {
            core0: {
                library: {
                    model = "none";
                    clock_frequency = 3.4e9; // 3.4GHz
                    voltage = 1.1; // 1.1V
                    component_type = "core";
                    core_type = "ooo";
                    wire_type = "global";
                    wiring_type = "global";
                    device_type = "hp";
                    interconnection_projection = "aggressive";
                    longer_channel_device = true;
                };
                
                /* "package.core0" component includes the following components
                   as its sub-components (children). */
                component: {
                    icache: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            assoc = 8;
                            size = 131072;
                            tag_width = 43;
                            num_rw_ports = 1;
                            cycle_time = 8;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    icacheMissBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 40;
                            assoc = 0;
                            size = 640;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    icacheFillBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            assoc = 0;
                            size = 512;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    icachePrefetchBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            assoc = 0;
                            size = 512;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    InstBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 24;
                            size = 1536;
                            num_rw_ports = 1;
                            access_mode = "normal";
                        };
                    };

                    BranchTargetBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 4;
                            assoc = 2;
                            size = 5120;
                            tag_width = 70;
                            num_rw_ports = 1;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            cycle_time = 1;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    ID_inst: {
                        library: {
                            model = "mcpat";
                            energy_model = "inst_decoder";
                            x86 = true;
                            decode_length = 16;
                            scaling = 4; /* 4 ID_inst decoders */
                        };
                    };

                    ID_operand: {
                        library: {
                            model = "mcpat";
                            energy_model = "inst_decoder";
                            x86 = true;
                            decode_length = 4;
                            scaling = 4;
                        };
                    };

                    ID_misc: {
                        library: {
                            model = "mcpat";
                            energy_model = "inst_decoder";
                            x86 = true;
                            decode_length = 8;
                            scaling = 4;
                        };
                    };

                    GlobalPredictor: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 1;
                            size = 4096;
                            tag_width = 6;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            access_mode = "fast";
                        };
                    };

                    L1LocalPredictor: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 2;
                            size = 2048;
                            tag_width = 6;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            access_mode = "fast";
                        };
                    };

                    L2LocalPredictor: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 1;
                            size = 1024;
                            tag_width = 6;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            access_mode = "fast";
                        };
                    };

                    PredictorChooser: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 1;
                            size = 4096;
                            tag_width = 6;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            access_mode = "fast";
                        };
                    };

                    RAS: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 8;
                            size = 512;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            access_mode = "fast";
                            scaling = 2;
                        };
                    };

                    InstIssueQueue: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 2;
                            assoc = 0;
                            size = 128;
                            tag_width = 8;
                            num_rd_ports = 6;
                            num_wr_ports = 6;
                            num_search_ports = 6;
                            cycle_time = 2;
                            access_time = 2;
                            access_mode = "normal";
                        };
                    };

                    FPIssueQueue: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 5;
                            assoc = 0;
                            size = 320;
                            tag_width = 16;
                            num_rd_ports = 2;
                            num_wr_ports = 2;
                            num_search_ports = 2;
                            access_mode = "normal";
                        };
                    };

                    ReorderBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 10;
                            size = 1280;
                            num_rd_ports = 6;
                            num_wr_ports = 6;
                            access_mode = "sequential";
                        };
                    };

                    instruction_selection: {
                        library: {
                            model = "mcpat";
                            energy_model = "selection_logic";
                            selection_input = 64;
                            selection_output = 6;
                            scaling = 2;
                        };
                    };

                    IntegerRegisterFile: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 8;
                            size = 2048;
                            num_rw_ports = 1;
                            num_rd_ports = 12;
                            num_wr_ports = 6;
                            access_mode = "sequential";
                            area_scaling = 1.1;
                            scaling = 2;
                        };
                    };

                    FloatingPointRegisterFile: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 8;
                            size = 2048;
                            num_rw_ports = 1;
                            num_rd_ports = 8;
                            num_wr_ports = 4;
                            access_mode = "sequential";
                            area_scaling = 1.1;
                            scaling = 2;
                        };
                    };

                    exeu: {
                        library: {
                            model = "mcpat";
                            energy_model = "functional_unit";
                            energy_submodel = "alu";
                            scaling = 6;
                        };
                    };

                    fp_u: {
                        library: {
                            model = "mcpat";
                            energy_model = "functional_unit";
                            energy_submodel = "fpu";
                            scaling = 2;
                        };
                    };

                    mul: {
                        library: {
                            model = "mcpat";
                            energy_model = "functional_unit";
                            energy_submodel = "mul";
                            scaling = 1;
                        };
                    };

                    IntBypassData: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 64;
                            wire_length = 0.006688;
                            /*
                            connect = ["package.core0.alu",
                                       "package.core0.InstIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    IntBypassTag: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 8;
                            wire_length = 0.008001;
                            /*
                            connect = ["package.core0.alu",
                                       "package.core0.InstIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    MulBypassData: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 64;
                            wire_length = 0.007295;
                            /*
                            connect = ["package.core0.mul",
                                       "package.core0.InstIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    MulBypassTag: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 8;
                            wire_length = 0.008608;
                            /*
                            connect = ["package.core0.mul",
                                       "package.core0.InstIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    FPBypassData: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 64;
                            wire_length = 0.006929;
                            /*
                            connect = ["package.core0.fp_u",
                                       "package.core0.FPIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    FPBypassTag: {
                        library: {
                            model = "mcpat";
                            energy_model = "interconnect";
                            data_width = 8;
                            wire_length = 0.009558;
                            /*
                            connect = ["package.core0.fp_u",
                                       "package.core0.FPIssueQueue",
                                       "package.core0.ReorderBuffer"];
                            */
                            area_scaling = 0.5;
                            scaling = 2;
                        };
                    };

                    IntFrontRAT: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 33;
                            out_width = 8;
                            size = 528;
                            num_rw_ports = 1;
                            num_rd_ports = 8;
                            num_wr_ports = 4;
                            access_mode = "fast";
                            scaling = 2;
                        };
                    };

                    FPFrontRAT: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 33;
                            out_width = 8;
                            size = 1056;
                            num_rw_ports = 1;
                            num_rd_ports = 4;
                            num_wr_ports = 2;
                            access_mode = "fast";
                            scaling = 2;
                        };
                    };

                    IntRetireRAT: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 1;
                            size = 64;
                            num_rd_ports = 4;
                            num_wr_ports = 4;
                            access_mode = "sequential";
                            scaling = 2;
                        };
                    };

                    FPRetireRAT: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 1;
                            size = 64;
                            num_rd_ports = 2;
                            num_wr_ports = 2;
                            access_mode = "sequential";
                            scaling = 2;
                        };
                    };

                    IntFreeList: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 1;
                            size = 256;
                            num_rw_ports = 1;
                            num_rd_ports = 4;
                            num_wr_ports = 7;
                            access_mode = "sequential";
                            scaling = 2;
                        };
                    };

                    FPFreeList: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "ram";
                            line_size = 1;
                            size = 256;
                            num_rw_ports = 1;
                            num_rd_ports = 2;
                            num_wr_ports = 5;
                            access_mode = "sequential";
                            scaling = 2;
                        };
                    };

                    idcl: {
                        library: {
                            model = "mcpat";
                            energy_model = "dep_resource_conflict_check";
                            compare_bits = 8;
                            decode_width = 4;
                            scaling = 2;
                        };
                    };

                    fdcl: {
                        library: {
                            model = "mcpat";
                            energy_model = "dep_resource_conflict_check";
                            compare_bits = 8;
                            decode_width = 4;
                            scaling = 2;
                        };
                    };

                    dcache: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 16;
                            assoc = 4;
                            size = 16384;
                            tag_width = 45;
                            num_rw_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    dcacheMissBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 24;
                            assoc = 0;
                            size = 384;
                            tag_width = 57;
                            num_rw_ports = 2;
                            num_search_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "fast";
                        };
                    };

                    dcacheFillBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 16;
                            assoc = 0;
                            size = 256;
                            tag_width = 57;
                            num_rw_ports = 2;
                            num_search_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "fast";
                        };
                    };

                    dcachePrefetchBuffer: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 16;
                            assoc = 0;
                            size = 256;
                            tag_width = 57;
                            num_rw_ports = 2;
                            num_search_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "fast";
                        };
                    };

                    dcacheWBB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 16;
                            assoc = 0;
                            size = 256;
                            tag_width = 57;
                            num_rw_ports = 2;
                            num_search_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "fast";
                        };
                    };

                    StoreQueue: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 8;
                            assoc = 0;
                            size = 1536;
                            tag_width = 86;
                            num_rd_ports = 2;
                            num_wr_ports = 2;
                            num_search_ports = 2;
                            access_mode = "sequential";
                            area_scaling = 1.1;
                        };
                    };

                    LoadQueue: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 8;
                            assoc = 0;
                            size = 768;
                            tag_width = 86;
                            num_rd_ports = 2;
                            num_wr_ports = 2;
                            num_search_ports = 2;
                            access_mode = "sequential";
                            area_scaling = 1.1;
                        };
                    };

                    ITLB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 5;
                            assoc = 0;
                            size = 640;
                            tag_width = 58;
                            num_rd_ports = 1;
                            num_wr_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    DTLB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 5;
                            assoc = 0;
                            size = 640;
                            tag_width = 58;
                            num_rd_ports = 2;
                            num_wr_ports = 2;
                            num_search_ports = 2;
                            cycle_time = 3;
                            access_time = 3;
                            access_mode = "normal";
                        };
                    };

                    undiffCore: {
                        library: {
                            model = "mcpat";
                            energy_model = "undiff_core";
                            pipeline_stages = 31;
                            num_hthreads = 2;
                            issue_width = 4;
                        };
                    };

                    corepipe: {
                        library: {
                            model = "mcpat";
                            energy_model = "pipeline";
                            pipeline_stages = 31;
                            x86 = true;
                            micro_opcode_length = 8;
                            pc_width = 64;
                            fetch_width = 4;
                            decode_width = 4;
                            issue_width = 4;
                            instruction_length = 32;
                            int_data_width = 64;
                            num_hthreads = 2;
                            thread_states = 8;
                            phy_int_regs = 256;
                            virtual_address_width = 64;
                            commit_width = 4;
                        };
                    };

                    L2cache: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            out_width = 128;
                            assoc = 8;
                            nbanks = 8;
                            size = 1048576;
                            tag_width = 40;
                            num_rw_ports = 1;
                            cycle_time = 8;
                            access_time = 23;
                            access_mode = "sequential";
                        };
                    };

                    L2MissB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 13;
                            out_width = 52;
                            assoc = 0;
                            size = 208;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 23;
                            access_mode = "normal";
                        };
                    };

                    L2FillB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            out_width = 128;
                            assoc = 0;
                            size = 512;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 23;
                            access_mode = "normal";
                        };
                    };

                    L2PrefetchB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            out_width = 128;
                            assoc = 0;
                            size = 512;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 23;
                            access_mode = "normal";
                        };
                    };

                    L2WBB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 32;
                            out_width = 128;
                            assoc = 0;
                            size = 512;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 8;
                            access_time = 23;
                            access_mode = "normal";
                        };
                    };
                };
            }; /* End of "package.core0" */

            L3: {
                library: {
                    model = "none";
                    clock_frequency = 850e6; // 850MHz
                    voltage = 1.1; // 1.1V
                    component_type = "llc";
                    wire_type = "global";
                    wiring_type = "global";
                    device_type = "hp";
                    interconnection_projection = "aggressive";
                    longer_channel_device = true;
                };

                component: {
                    L3cache: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 64;
                            out_width = 256;
                            assoc = 16;
                            nbanks = 16;
                            size = 16777216;
                            tag_width = 37;
                            num_rw_ports = 1;
                            cycle_time = 16;
                            access_time = 100;
                            access_mode = "sequential";
                        };
                    };

                    L3MissB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 17;
                            out_width = 68;
                            assoc = 0;
                            size = 272;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 16;
                            access_time = 100;
                            access_mode = "normal";
                        };
                    };

                    L3FillB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 64;
                            out_width = 256;
                            assoc = 0;
                            size = 1024;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 16;
                            access_time = 100;
                            access_mode = "normal";
                        };
                    };

                    L3PrefetchB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 64;
                            out_width = 256;
                            assoc = 0;
                            size = 1024;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 16;
                            access_time = 100;
                            access_mode = "normal";
                        };
                    };

                    L3WBB: {
                        library: {
                            model = "mcpat";
                            energy_model = "array";
                            energy_submodel = "cache";
                            line_size = 64;
                            out_width = 256;
                            assoc = 0;
                            size = 1024;
                            tag_width = 57;
                            num_rw_ports = 1;
                            num_search_ports = 1;
                            cycle_time = 16;
                            access_time = 100;
                            access_mode = "normal";
                        };
                    };
                };
            };
        }; /* End of "package" sub-components */
    }; /* End of "package" */
}; /* End of pseudo component hierarchy */
