/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* "package" component */
	package: {

        /* Define the library associated with the "package" component. */ 
		library: {
			model = "microfluidics";
            thermal_analysis = "steady_state";
            grid_map_mode = "average";

            /* Pin fin dimension */
            HC = 200e-6;
            Dp = 100e-6;
            NT = 34;
            NL = 34;

            /* Chip dimension */
            ThSi = 100e-6;
            ThO = 10e-6;
            ThB = 10e-6;

            /* Pumping power */
            PPower = 0.03;

            heff = 562.28;
            hamb = 10.0;
            Tfin = 293.15;
            temperature = 293.15; // Twini
            ambient_temperature = 293.15; // Tamb

            rho_Si = 2330.0;
            cp_Si = 707.0;
            k_Si = 149.0;
            rho_O = 220.0;
            k_O = 1.4;
            cp_B = 1000.0;
            k_B = 1.4;
            rho_f = 997.0;
            cp_f = 4183.0;
            k_f = 0.5945;
            mu_f = 0.0008936;

            floorplan = ["package.proc.left_bottom",
                         "package.proc.right_bottom",
                         "package.proc.left_top",
                         "package.proc.right_top",
                         "package.mem.left_bottom",
                         "package.mem.right_bottom",
                         "package.mem.left_top",
                         "package.mem.right_top"];
        }; /* End of "package" library */

        /* "package" component includes the following components as
           its sub-components (children). */
        component: {
            proc: {
                component: {

                    /* "package.proc.left_bottom" component */
                    left_bottom: {
                        library: {
                            model = "none";
		                    dimension: {
		                        left = 0.0e-3;
		                        bottom = 0.0e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 0;
		                    };
                        };
                    };

                    /* "package.proc.right_bottom" component */
		            right_bottom: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 4.2e-3;
		                        bottom = 0.0e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 0;
		                    };
		                };
		            };

                    /* "package.proc.left_top" component */
		            left_top: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 0.0e-3;
		                        bottom = 4.2e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 0;
		                    };
		                };
		            };

                    /* "package.proc.right_top" component */
		            right_top: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 4.2e-3;
		                        bottom = 4.2e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 0;
		                    };
		                };
		            };
                }; /* End of "package.proc" sub-components */
            }; /* End of "package.proc" */

            mem: {
                component: {

                    /* "package.mem.left_bottom" component */
		            left_bottom: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 0.0e-3;
		                        bottom = 0.0e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 1;
		                    };
		                };
		            };

                    /* "package.mem.right_bottom" component */
		            right_bottom: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 4.2e-3;
		                        bottom = 0.0e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 1;
		                    };
		                };
		            };

                    /* "package.mem.left_top" component */
		            left_top: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 0.0e-3;
		                        bottom = 4.2e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 1;
		                    };
		                };
		            };

                    /* "package.mem.right_top" component */
		            right_top: {
		                library: {
		                    model = "none";
		                    dimension: {
		                        left = 4.2e-3;
		                        bottom = 4.2e-3;
		                        width = 4.2e-3;
		                        height = 4.2e-3;
		                        die_index = 1;
		                    };
		                };
		            };
                }; /* End of "package.mem" sub-components */
            }; /* End of "package.mem" */
        }; /* End of "package" sub-components */
    }; /* End of "package" */
}; /* End of pseudo component hierarchy */

