/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {
    
    /* "package" component */
    package: {

        /* Define the common library variables in the "memory" shared with its-subcomponents. */
        library: {
            model = "none";
            clock_frequency = 3e9; // 3GHz
            voltage = 1.2; // 1.2V
        };

        /* "package" component includes the following components
           as its sub-components (children). */
        component: {

            /* "package.tsv0" component */
            tsv0: {
                library: {
                    model = "tsv";
                    tsv_height = 50e-6; // 50um
                    tsv_radius = 5e-6; // 5um
                    sidewall_thickness = 150e-9; // 150nm
                    data_width = 64; // 64-bit data width
                };
            }; /* End of "package.tsv0" component */
        }; /* End of "package" sub-components */
    }; /* End of "package" */
}; /* End of pseudo component hierarchy */
